<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.localytics.phonegap.LocalyticsPlugin"  xmlns:android="http://schemas.android.com/apk/res/android" version="1.0.0">
    <name>Localytics</name>
    <description>Localytics Plugin for Cordova/PhoneGap</description>
    <license>Apache 2.0</license>
    <keywords>localytics</keywords>

    <js-module src="www/localytics.js" name="Localytics">
        <clobbers target="Localytics" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="LocalyticsPlugin">
                <param name="ios-package" value="LocalyticsPlugin"/>
            </feature>
        </config-file>

        <header-file src="src/ios/LocalyticsPlugin.h" />
        <source-file src="src/ios/LocalyticsPlugin.m" />
        <header-file src="src/ios/CDAnalyticsDelegate.h" />
        <source-file src="src/ios/CDAnalyticsDelegate.m" />
        <header-file src="src/ios/CDLocationDelegate.h" />
        <source-file src="src/ios/CDLocationDelegate.m" />
        <header-file src="src/ios/CDMessagingDelegate.h" />
        <source-file src="src/ios/CDMessagingDelegate.m" />

        <framework src="LocalyticsStaticFramework" type="podspec" spec="~> 4.4" />
        <framework src="UserNotifications" type="framework" />

    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="LocalyticsPlugin" >
                <param name="android-package" value="com.localytics.phonegap.LocalyticsPlugin"/>
            </feature>
        </config-file>

        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>

        <source-file src="src/android/LocalyticsPlugin.java" target-dir="src/com/localytics/phonegap/" />
        <source-file src="src/android/CDAnalyticsListener.java" target-dir="src/com/localytics/phonegap/" />
        <source-file src="src/android/CDLocationListener.java" target-dir="src/com/localytics/phonegap/" />
        <source-file src="src/android/CDMessagingListener.java" target-dir="src/com/localytics/phonegap/" />

    </platform>

</plugin>
